<div class="vb-header clearfix">
    <h1 class="pull-left"><a href="./">GRT图片媒资后台管理系统</a></h1>
    <div class="pull-right">
        <div class="user-info-wrap pull-left pr25 relative pointer">
            <span class="primary">admin</span>
            <span class="label label-danger">0</span>
            <ul class="user-info">
                <li class="vb-arrow vb-arrow-top-left"><span></span></li>
                <li>上次登录时间: 2016-09-01</li>
                <li>当前积分: 100分</li>
                <li>可用空间: 5/100G</li>
                <li>已上传图片: 0张</li>
                <li>待编辑图片: 0张</li>
                <li>待审核图片: 0张</li>
                <li>待修改图片: 0张</li>
                <li>被退回图片: 0张</li>
                <li>待审核账户: 0个</li>
            </ul>
        </div>
        <span class="pull-left pr15">超级管理员</span>
        <a href="./login.html">登陆</a>
        <a class="pull-left" href="#">退出</a>
    </div>
</div>